@using PagedList;
@using PagedList.Mvc;
@using Ertunc_Tibbi_Cihaz_Web_Site.Helper;
@model IEnumerable<Ertunc_Tibbi_Cihaz_Web_Site.Models.Model.Sertifikalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@{ 
    Html.RenderAction("SliderPartial", "Home");
}


<section id="content">
    <div class="container">
       
              
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <h4><strong>Sertifikalarımız</strong></h4>
                <ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
                    @foreach (var item in ViewBag.Sertifikalar)
                    {

                    
                    <li>
                        <a href="#">
                            <img src="@item.ResimURL" class="client-logo" alt="" />
                        </a>
                    </li>
                    }
            </div>
        </div>
        <!-- end divider -->
        <!-- Portfolio Projects -->
        <div class="row">
            <div class="span12">
                <h4 class="heading"> <strong>Ürünler</strong></h4>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            @foreach (var item in ViewBag.Urunlerimiz)
                            {
                                <div class="urunlist" style="width:363px; margin-bottom: 60px; ">
                                    <a href="/Ürünler/@SeoHelper.ToSeoUrl(item.UrunlerBaslik).ToLower()-@item.UrunlerId">
                                        <img src="@item.UrunlerResimURL1">
                                        <span class="baslik" style="color:#263b7e; font-weight:600; font-size:14px;">@item.UrunlerBaslik</span>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        
    </div>
</section>
<section id="bottom">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="aligncenter">
                    <div id="twitter-wrapper">
                        <div id="twitter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@{
    Html.RenderAction("FooterPartial", "Home");}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>