<div class="left_menu" style="margin-right:20px; margin-left: 15px;">
    <div id="cssmenu">
        <ul>
            <li class="has-sub"><a>Hakkımızda</a>
            <ul style="display: none;">
            <li class=""><a href="">Geçmişimiz</a></li>
            <li class=""><a href="#">Vizyonumuz</a></li>
            <li class=""><a href="#">Referanslar</a></li>            
                </ul>
            </li>
            <li class=""><a href="/Sertifika">Sertifikalar</a></li>
            <li class=""><a href="/BlogPost">Haberler</a></li>
            <li class=""><a href="#">Yasal Bildirimler</a></li>
        </ul>
    </div>
</div>